$max-content-width: 750px;

/**
 如果等比缩小，以手机字号为基准的话，PC字体则会显得很大。所以给PC再单独设计一个字号。用来覆盖前面设置的手机字号。
 examples
 .title {
    font-size: 20px;
    @include pc {
      font-size: 16PX;
    };
 }

 可以使用大写的PX来规避这个问题。
  */
@mixin pc {
  @media screen and (min-width: 751px) {
    @content;
  }
}

@mixin responsive {
  html {
    max-width: $max-content-width;
    font-size: 75px;
  }

  @media screen and (max-width: 750px) {
    html {
      font-size: 10vw;
    }
  }
}

@mixin mobile {
  html {
    font-size: 16px;
  }

  @media screen and (min-width: 375px) {
    html {
      /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
      font-size: calc(100% + 2 * (100vw - 375px) / 39);
      font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
  }
  @media screen and (min-width: 414px) {
    html {
      /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
      font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
      font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
  }
  @media screen and (min-width: 600px) {
    html {
      /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
      font-size: calc(125% + 4 * (100vw - 600px) / 400);
      font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      /* 1000px往后是每100像素0.5px增加 */
      font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
      font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
  }
}
